# Uncomment below and set this to 'production' - when in production
# NODE_ENV=production

TM_DATABASE = 'postgresdatabasename';
GPX2DBSCRIPT = 'C:\\Users\\Uli\\python\\venvx\\Scripts\\gpx2postgres.exe';

##
WEBAUTHN_RPNAME='my example server'
WEBAUTHN_ORIGIN='http://localhost:5543'
WEBAUTHN_RPID=localhost # should be domain part of WEBAUTHN_ORIGIN

##
PASSKEYPOC_PGUSER=myuser
PASSKEYPOC_PGPASSWORD=mypw
PASSKEYPOC_PGPORT=5432
PASSKEYPOC_PGDATABASE='mydb'
PASSKEYPOC_PGHOST=localhost

##
SESSION_MAX_AGE=60000 # in miliseconds
TRUST_PROXY=1 # because server is used behind reverse proxy ( vite or production server )

##
PASSKEYPOC_COOKIESALT='pleaserepaclethiswithsomethingsecret'
