# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  LANG: de_DE.UTF-8

jobs:
  build_client:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "~22"
          cache: "npm"
          cache-dependency-path: ./client/package-lock.json
      # - run: rm -rf node_modules package-lock.json
      #   working-directory: ./client
      - run: npm install
        working-directory: ./client
      - run: npm test
        working-directory: ./client
      - run: npm run lint
        working-directory: ./client
      - run: npm run build
        working-directory: ./client
      - run: npm run typecheck
        working-directory: ./client

  build_server:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "~22"
          cache: "npm"
          cache-dependency-path: ./server/package-lock.json
      - run: npm install
        working-directory: ./server
      - run: npm run copyconfig
        working-directory: ./server
      - run: npm run build
        working-directory: ./server
      - run: npm run lint
        working-directory: ./server
      - run: npm run test
        working-directory: ./server
      - run: npm run typecheck
        working-directory: ./server
