# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [main, bonham/**]
  pull_request:
    branches: [main]

env:
  LANG: de_DE.UTF-8

jobs:
  build_client:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "~22"
          cache: "npm"
          cache-dependency-path: package-lock.json
      - run: npm ci
      - run: npm test --workspace=client
      - run: npm run lint --workspace=client
      - run: npm run build --workspace=client
      - run: npm run typecheck --workspace=client

  build_server:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "~22"
          cache: "npm"
          cache-dependency-path: package-lock.json
      - run: npm ci
      - run: npm run copyconfig --workspace=server
      - run: npm run build --workspace=server
      - run: npm run lint --workspace=server
      - run: npm test --workspace=server
      - run: npm run typecheck --workspace=server
